main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
}

img {
    width: 100%;
}

section {
    height: 30rem;
}

.imagen-btn {
    background-image: url(../img/img-main-1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-btn button {
    border: 2px solid #fff;
    background-color: transparent;
    padding: 0.7rem 2.4rem;
    color:#fff;
    font-family: 0;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-info img{
    width: 100px;
    margin-bottom: 2rem;
}

.section-info p {
    width: 40%;
    margin-top: 2rem;
}

.section-info a {
    text-transform: uppercase;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.575);
    margin-top: 2.2rem;
}

h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.315);
}

span {
    text-transform: uppercase;
}

.imagen-bg {
    background-image: url(../img/bg-playa.png);
    background-position: center;
    background-size: cover;
}

.bg-niño {
    background-image: url(../img/bg-imagen-2.jpg);
}

.bg-nap {
    background-image: url(../img/bg-nap.jpg);
}